@model WoW.Models.CreateRaidModel
<div class="row">
    <div class="large-12 columns">
        <h1>Reciprocity</h1>
    </div>
</div>
@using (Html.BeginForm("CreateRaidGroup","Home", FormMethod.Post))
{

    <div class="row">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="large-12 columns">
                <div class="panel">
                    @Html.ValidationMessageFor(m => m.GroupName)
                </div>
            </div>
        }
        <div class="large-12 columns">
            <div class="panel">
                @Html.LabelFor(m => m.GroupName)
                @Html.EditorFor(m => m.GroupName)
                <input type="submit" value="Create"/>
            </div>
        </div>
    </div>
}