@model WoW.Models.Raid.RaidSummaryModel
@foreach (var raider in Model.Raiders)
{
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <div class="accordion">
                    @Html.DisplayFor(m => raider)
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('.accordion').accordion({
                collapsible: true,
                active: false,
                heightStyle: 'panel'
            });
        });
    </script>
}