@model WoW.Models.Raid.RaidSummaryModel
@foreach (var raider in Model.Raiders)
{
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <div class="accordion" data-id="@Html.DisplayFor(m => raider.PlayerId)">
                    @Html.DisplayFor(m => raider)
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('.accordion').click(function () {
                $.ajax({
                    url: "/Raid/LoadRaider",
                    context: this,
                    type: "POST",
                    dataType: "html",
                    data: { id: $(this).attr('data-id') },
                    success: function (data) {
                        $(this).unbind();
                        $(this).find('.panel.replace-me').html(data);
                        var accordions = $(this).add($(this).find('.accordion'));
                        accordions.accordion({
                            collapsible: true,
                            heightStyle: 'panel'
                        });
                    }
                });
            });

        });
    </script>
}