@model WoW.Models.Raid.RaidCompModel

<div class="panel">
    <div class="row">
        <h3>Buffs</h3>
        <div class="large-12 medium-12 columns">
            <p>You are currently missing @Model.BuffsNotBrought.Count buffs.  You have @Model.Hunters hunters to cover these missing buffs.</p>
        </div>
    </div>
</div>